beautifulsoup4==4.13.4
contourpy==1.3.3
cycler==0.12.1
fonttools==4.59.0
joblib==1.5.2
kiwisolver==1.4.8
matplotlib==3.10.5
numpy==2.3.2
pandas==2.3.2
pillow==11.3.0
pydicom==3.0.1
pylibjpeg==2.0.1
pylibjpeg-libjpeg==2.3.0
pylibjpeg-openjpeg==2.5.0
pyparsing==3.2.3
pytz==2025.2
soupsieve==2.7
tqdm==4.67.1
tzdata==2025.2
xlsxwriter==3.2.5

# jupyter
jupyter
ipython